@import '../../../global.scss';
.nav-background {
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #000;
  @include mobile_potrait {
    width: 100vw;
    top: 0;
    border: none;
    padding: 0;
  }
}
.topbar {
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: relative;
  // max-width: 1320px;
  @media screen and (max-width: 1440px) {
    width: 100%;
    padding: 0px 12px;
  }
  @include mobile_potrait {
    width: 100%;
  }

  .logo {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile_potrait {
      margin-left: 0rem;
      height: auto;
    }
    @include mobile_landscape {
      margin-left: 0.5rem;
    }
    a {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      @include mobile_potrait {
        font-size: 2rem;
      }
      @include mobile_landscape {
        font-size: 2rem;
      }
      img {
        @include mobile_potrait {
        }
      }
      h1{
        color: #fff;
        font-size: 22px;
        font-weight: 900;
        margin-left: 1rem;
        @include mobile_potrait {
        }
      }
    }
  }
  .menu{
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 120px;
    margin-right: auto;
    list-style: none;
    @include pad_potrait {
      display: none;
    }
    @include mobile_potrait {
      display: none;
    }
    li{
      margin-right: 2.2rem;
      a{
        color: #fff;
        text-transform: capitalize;
        transition: all 0.3s ease;
        font-size: 12px;
        width: 0%;
        display: flex;
        // overflow: hidden;
        padding-right: 100%;
        &:hover{
          font-weight: 600;
          // text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
          // text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff;
        }
      }
    }
    .selected{
      font-weight: 600;
    }
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: auto;
    gap: 20px;
    @include mobile_potrait {
    }
    .iconBtn{
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
      @include pad_potrait {
        display: none;
      }
      @include mobile_potrait {
        display: none;
      }
    }
    .loginBtn{
      display: flex;
      align-items: center;
      text-decoration: none;
      background: #ffffff1a;
      padding: 3px 10px;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 14px;
      &:hover {
        background: #ffffff33;
      }
      @include mobile_potrait {
        display: none;
      }
    }

    .connectBtn {
      display: flex;
      align-items: center;
      text-decoration: none;
      background: #F0C846;
      padding: 3px 10px;
      color: #000;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 14px;
      @include pad_potrait {
        margin-right: 35px;
      }
      @include mobile_potrait {
        font-size: 14px;
        margin: 0px;
        margin-right: 35px;
      }
      &:hover {
        background: #F0C846aa;
      }
      img{
        margin-right: 0.5rem;
      }
    }
  }

  .hamburger {
    display: none;
    position: absolute;
    z-index: 3;
    overflow: hidden;
    width: 28px;
    height: 28px;
    right: 12px;
    top: 6px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    cursor: pointer;
    overflow: hidden;
    transform: scale(0.9);
    background : #777;
    border: 3px #777 solid;
    @include pad_potrait {
      display: flex;
    }
    @include mobile_potrait {
      display: flex;

    }

    span {
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: #fff;
      transform-origin: left;
      transition: all 1s ease;
      &:last-child {
        width: 25px;
      }
    }
    &.active {
      z-index: 1;
      align-items: flex-start;
      span {
        &:first-child {
          width: 27px;
          transform: rotate(38deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          width: 27px;
          transform: rotate(-38deg);
        }
      }
    }
  }
}
